*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  box-shadow: 0px 0px 15px #0000000f;;
}

.navbar>.container-fluid{
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-around;
}

.navbar-collapse{
  flex-grow: 0;
}

.brandName{
  color: red;
}

.brandName span{
  color: black;
}

.prev{
  color: white;
  background-color: black;
}

.prev:hover{
  color: white;
  cursor: pointer;
  background-color: black;
}

.next{
  background-color: red;
  color: white;
}